@import "common";

.msg-brief{
  .msg-brief-content{
    padding: 5px 15px;
    .row{
      label,p{
        display: inline-block;
      }
      p{
        padding-left: 5px;
      }
    }
  }
}

#msg_list{
  width: 28%;
  border-right: 2px solid $panel-border;
  .msg-brief {
    border-bottom: 2px solid $panel-border;
    .msg-brief-header{
      height: 25px;
      padding-left: 10px;
      background-color: $msg-list-header;
    }
    .msg-brief-content {
      &:hover {
        background-color: $msg-list-hover;
      }
    }
  }
}

