.error {
  color: red; }

.success {
  color: green; }

body {
  overflow: hidden; }

html, body {
  height: 100%; }

#content {
  height: calc(100% - 55px);
  margin-top: -20px; }
  #content > div {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
    float: left; }
  #content::after {
    clear: both; }

.modal-container {
  position: relative; }

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute; }
.error {
  color: red; }

.success {
  color: green; }

body {
  overflow: hidden; }

html, body {
  height: 100%; }

#content {
  height: calc(100% - 55px);
  margin-top: -20px; }
  #content > div {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
    float: left; }
  #content::after {
    clear: both; }

.modal-container {
  position: relative; }

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute; }

.nav-custom {
  background-color: #000;
  height: 55px; }

#nav .navbar-brand {
  color: #ffde37;
  margin: 0px;
  font-size: 25px;
  font-weight: bold; }

#nav .nav-search a {
  padding: 0px; }

#nav .nav-search .btn-custom {
  background-color: #000;
  color: white;
  border-color: #000; }
  #nav .nav-search .btn-custom:hover {
    background-color: #ffde37; }

#nav .nav-icon a:hover {
  background-color: #ffde37; }

#nav .nav-icon.open .dropdown-toggle {
  background-color: #ffde37; }

#nav .nav-icon span {
  color: white;
  font-size: 20px;
  font-weight: bold; }

#nav .nav-icon .dropdown-menu a:hover {
  background-color: #DDDDDD; }
.error, #menu .msg_category .category-title .category span.fa-exclamation {
  color: red; }

.success, #menu .msg_category .category-title .category span.fa-inbox, #menu .msg_category .category-title .category span.fa-paper-plane {
  color: green; }

body {
  overflow: hidden; }

html, body {
  height: 100%; }

#content {
  height: calc(100% - 55px);
  margin-top: -20px; }
  #content > div {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
    float: left; }
  #content::after {
    clear: both; }

.modal-container {
  position: relative; }

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute; }

.menu_icon, #menu .menu_top a, #menu .msg_category .menu_icon {
  float: right;
  color: black; }
  .menu_icon:hover, #menu .menu_top a:hover, #menu .msg_category .menu_icon:hover {
    color: #ffde37; }
  .menu_icon::after, #menu .menu_top a::after, #menu .msg_category .menu_icon::after {
    clear: both; }

#menu {
  width: 15%;
  border-right: 2px solid #eeeeee; }
  #menu .menu_top {
    height: 35px;
    border-bottom: 2px solid #eeeeee; }
    #menu .menu_top label {
      line-height: 30px;
      padding-left: 30px; }
  #menu .msg_category .category-title {
    height: 40px;
    line-height: 40px;
    border: 2px solid #eeeeee; }
    #menu .msg_category .category-title .category {
      font-size: 18px;
      padding-left: 15px;
      margin-bottom: 0px; }
      #menu .msg_category .category-title .category span {
        padding: 0 15px; }
  #menu .msg_category .system-list {
    display: none; }
    #menu .msg_category .system-list.active {
      display: block; }
    #menu .msg_category .system-list .system_name {
      text-align: right;
      height: 30px;
      line-height: 30px;
      font-size: 15px;
      padding-right: 50px; }
      #menu .msg_category .system-list .system_name:hover {
        background-color: #DDDDDD; }
.error {
  color: red; }

.success {
  color: green; }

body {
  overflow: hidden; }

html, body {
  height: 100%; }

#content {
  height: calc(100% - 55px);
  margin-top: -20px; }
  #content > div {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
    float: left; }
  #content::after {
    clear: both; }

.modal-container {
  position: relative; }

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute; }

.msg-brief .msg-brief-content {
  padding: 5px 15px; }
  .msg-brief .msg-brief-content .row label, .msg-brief .msg-brief-content .row p {
    display: inline-block; }
  .msg-brief .msg-brief-content .row p {
    padding-left: 5px; }

#msg_list {
  width: 28%;
  border-right: 2px solid #eeeeee; }
  #msg_list .msg-brief {
    border-bottom: 2px solid #eeeeee; }
    #msg_list .msg-brief .msg-brief-header {
      height: 25px;
      padding-left: 10px;
      background-color: #D8D7D7; }
    #msg_list .msg-brief .msg-brief-content:hover {
      background-color: #F7F3F3; }
.error, #msg_log .msg-log-info.error_detect .msg-log-title, #msg_log .msg-log-info.error_detect .msg-log-content, #msg_log .msg-log-info.error_detect .msg-log-link a {
  color: red; }

.success {
  color: green; }

body {
  overflow: hidden; }

html, body {
  height: 100%; }

#content {
  height: calc(100% - 55px);
  margin-top: -20px; }
  #content > div {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
    float: left; }
  #content::after {
    clear: both; }

.modal-container {
  position: relative; }

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute; }

.msg-log-info-general, #msg_log .msg-log-info, #msg_log .msg-log-detail {
  border: 2px solid #eeeeee;
  padding: 15px;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 30px; }

#msg_log {
  width: 57%; }
  #msg_log .msg-log-content-panel {
    padding-top: 150px;
    padding-bottom: 40px; }
  #msg_log .msg-log-header {
    height: 150px;
    position: fixed;
    width: 57%;
    background: white;
    border-bottom: 2px solid #eeeeee; }
    #msg_log .msg-log-header .msg-log-header-container {
      width: 70%;
      height: 100%; }
      #msg_log .msg-log-header .msg-log-header-container .msg-log-header-logo {
        text-align: center;
        font-size: 40px; }
      #msg_log .msg-log-header .msg-log-header-container .msg-log-header-logo, #msg_log .msg-log-header .msg-log-header-container .msg-brief {
        float: left; }
      #msg_log .msg-log-header .msg-log-header-container::after {
        clear: both; }
      #msg_log .msg-log-header .msg-log-header-container .msg-brief-header {
        padding-left: 15px;
        font-size: 16px; }
    #msg_log .msg-log-header .msg-log-header-logo {
      width: 20%; }
    #msg_log .msg-log-header .msg-brief {
      width: 80%; }
  #msg_log .msg-log-title p {
    font-weight: bold;
    font-size: 16px; }
  #msg_log .msg-log-info {
    width: 40%; }
    #msg_log .msg-log-info .msg-log-link a {
      text-decoration: underline; }
    #msg_log .msg-log-info.error_detect {
      border-color: red; }
  #msg_log .msg-log-detail {
    width: 80%; }

/*# sourceMappingURL=style.css.map*/